<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- голова где размещаеться css и мета-->
    <meta charset="UTF-8">
    <meta name="author" content="name">
    <meta name="descriptor" content="Тестовая страница">
    <title>Заголово страницы</title>
</head>
<body>
<!-- h1-6 размер заголовков-->
<h1> Заголовки </h1>
<!--<p> обзацы-->
<p> Просто текст </p>
<!--<b> жирность или <strong>-->
<p> Просто <b>текст</b></p>
<!-- <i> курсив -->
<p><i>Просто текст</i></p>
<!-- <sub> делает текст ниже уровня <sup> выше уровня текста -->
<!-- <strike> перечеркивает тест внутир основного тэга -->
<p><strike>Не нужный текст</strike></p>
<p>H<sub>2</sub>O, а<sup>2</sup></p>
<!-- <br> одиночный тэг без отступа -->
<!-- <hr> ------------ -->
<!-- <abbr> абривиатура без стиля -->
<!-- <adress> для стилизации адреса,курсив -->
<!--<ol> пронумированный список <li> лист айтем ol>li*3 -->
<!--<ol start="" type=""> скакой цифры начнеться счет, type формат отсчета -->
<ol start="1" type="i">
    <li>Текст</li>
    <li>Текст</li>
    <li>Текст</li>
</ol>
<!--<ul> непронумированный список <li> лист айтем ul>li*3 type формат фигурный-->
<ul>
    <li>Текст</li>
    <li>Текст</li>
    <li>Текст</li>
</ul>
<!-- Атрибуты -->
<p title="Подсказка">Текст</p>
<!-- ссылки -->
<!-- <a> для создании ссылки href ссылка для переадресации -->
<a href="адресс" target="на этой или вдугой вкладке" title="подсказка" >перейти в гугл</a>
<!-- <a href="#якороь">Down</a> движение в низ по странице к определенной ссылке -->
<a href="#якороь">Down</a>
<a name="якорь"></a>
<a href="mailto: мыло для связи"> Написать на почту</a>
<img src="полный путь к картинки" width="ширина 500px" height="высота 200px" alt="текст если не прогрузилась">
<!-- <table> таблица -->
<table border="обводка в px">
    <thead>
    шапка таблицы
    <tr> Описание ряда
        <th> Заголовок столбца жирный</th>
    </tr>
    </thead>
    <tbody align="отцентровка">
    тело таблицы
    <tr> Описание ряда
    <td> добавление в столбики </td>
    </tr>
    </tbody>
    <tfoot>
    конец
    <tr> Описание ряда </tr>
    </tfoot>
</table>
<!-- <link> подключает стили css -->
<link rel="stylesheet" href="путь к css">
<!-- <script> подключает js -->
<script src="путь js">
    подключаеться отдельно или пишеться внутри
</script>
<!-- <div> блок но создаеться форма в css-->
<div>Просто текст</div>
<!-- <span> стиль в css-->
<span></span>
<!-- <form> создание формы-->
<form action="страница для обработки" method="метод передачи post">
    <label>подпись для поля</label>
    <input title="text" placeholder="подсказка в поле" value="всталяет текст в поле для ввода"
    maxlength="максимальное кол во символов" hidden="скрыть текствое поле" disabled="не активное поле"
    readonly="только чтение" name="название для поля"> <!-- <input> создание ввода текста-->
    <textarea placeholder="подсказка" maxlength="кол-во символов"
              required="без данных нет выхода на сервер">Для большего ввода текста</textarea>
    <button type="действие">кнопка</button>
    <select multiple="выбор множества вариантов" size="кол-во вариантов">
        <option selected="первый в списке" disabled="неактивный"></option>
    </select><!-- <select> кнопрка с выпадающем списком <option> создание елементов-->
</form>
<!-- спец теги html5-->
<!-- шапка сайта-->
<header></header>
<!-- оснаваня чатсть сайта все это блоки-->
<main></main>
<!-- боковая часть сайта-->
<aside></aside>
<!--футер - нижняя часть сайта-->
<footer></footer>
<!-- анимация типо прогрузка-->
<progress max="" value="">если тег не прогружаеться</progress>
<!-- Скрытый текст <details> -->
<details>
    <summary>Подробнее</summary>
    Сам скрытый текст
</details>
</body>
</html>