{% extends "base.html" %}
{% block title %} Главная страница {% endblock %}
{% block content %}
<div class="text">
  <h1>NeroX</h1>
    <div class="card border-success mb-3" style="max-width: 100rem;">
  <div class="card-header"><h2>Добро пожаловать.</h2></div>
  <div class="card-body">
    <h4 class="card-title">В NeroX</h4>
    <p class="card-text">Вы на сайте дипломного проекта для UrbanUniversity</p>
      <p class="card-text">Прошу, для дальнейшего использования сайта зарегистрироваться!</p>
  </div>
{% endblock %}